<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
	<h1>SBnotes</h1>
	<br>
	<p> For any questions or comments email <a href="mailto:sbnoteshelp@gmail.com" target="_top">sbnoteshelp@gmail.com</a> </p>
	<h3>Development Team</h3>
		<li>Andrew Tran</li>
		<li>Ishi von Meier</li>
		<li>Nick Poon</li>
		<li>Omeed Rabani</li>
		<li>Yamen Alghrer</li>
</body>
</html>