<h1>Users</h1>


<table>
	<!-- 
	<tr>
		<th>Title</th>
		<th>Text   </th>
	</tr>	
	-->
	
	<br>

<!--TODO: add pagination!!-->
	
	<% @users.each do |user| %>
		<tr>
			<td style="padding:0 15px 0 0px;" >
				<%= link_to user.name, notes_public_path(user) , class: "btn btn-default" %>
			</td>

	<% end %>
</table>