<h1>Users</h1>


<table>
	<!-- 
	<tr>
		<th>Title</th>
		<th>Text   </th>
	</tr>	
	-->
	
	<br>


	<!-- TODO: sort users alphabetically in table -->
	<% @users.each do |user| %>
		<tr>
			<td style="padding:0 15px 0 0px;" >
				<%= link_to user.name, class: "btn btn-default" %>
			</td>

	<% end %>
</table>