<% if @note.errors.any? %>
        <div id="error_explanation">
            <!-- TODO: make this error show up on the same page, without reloading pages ideally. See book chapter 7 should be in there   -->
          <ul>
            <% @note.errors.full_messages.each do |msg| %>
              <li><font color = "FF0000"><%= msg %></font></li>
            <% end %>
          </ul>
        </div>
      <% end %>