<!DOCTYPE html>
<html>
<head>
  <title>Sbnotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/">Home</a></li>
		<li role="presentation"><a href="/signup">Sign up</a></li>
		<li role="presentation"><a href="/about">About</a></li>
	</ul>
    <div class="container">
<%= yield %>
	</div>
</body>
</html>


